<!-- this is the base template for register, login and logged_out templates -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>NightOwl - Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                {% if messages %}
                        {% for message in messages %}
                            <div class="message alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                <div class="content">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
</body>

</html>
