{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>NightOwl</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'core/homestyle.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">

            {% if user.is_authenticated %}
            <a class="navbar-brand" href="#">NightOwl</a>
            <form class="form-inline">
                <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link " href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' user.username %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logged-out' %}">Logout</a>
                </li>
            </ul>
            {% else %}
            <a class="navbar-brand" href="{% url 'home' %}">NightOwl</a>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>

                <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>


    <main role="main" class="container">
        <div class="row py-5">
            <div class="col-lg-8">
                <div class="content">
                    {% for post in posts %}
                    <article class="rounded media post-section content-section">
                        <div class="media-body">
                            <div class="article-metadata">
                                <img class="rounded-circle article-img profile-pic" src="{{ post.author.profile.image.url }}">
                                <a class="link-unstyled font-weight-bold mr-2 ml-2 mt-4 " href="{% url 'profile' post.author %}">@{{ post.author }}</a>
                                <small class="time-tooltip text-muted mt-4" title="{{ post.time_since_posted.1 }}">
                                    {{ post.time_since_posted.0 }} ago
                                </small>
                            </div>
                            <p class="article-content">{{ post.content }}</p>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="content">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">
                            <a href="#" class="link-unstyled">Latest Posts</a>
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <a href="#" class="link-unstyled">Announcements</a>
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <a href="#" class="link-unstyled">Calendars</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        
    </main>


    <footer class="py-2">
        <div class="container text-center">
            <p>&copy; 2023 NightOwl. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
</body>

</html>